body{
    padding: 0;
    margin: 0;
}
#customers
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#customers td, #customers th
{
    font-size:1em;
    border:1px solid #b2b2b2;
    padding:3px 7px 2px 7px;
    color: #0C0C0C;
}

#customers th
{
    font-size:1.1em;
    padding-top:5px;
    padding-bottom:4px;
    background-color:lightsteelblue;
    color:#999999;
    text-align: left;
}
.hou{
    background-color: #E0E0E0;
}
#btnAdd{
    display: block;
    margin-top: 50px;
}
.modal-body textarea{
    width: 240px;
    height: 100px;
}